form {
  background-color: var(--clr-neutral-300);
  border-radius: 1em;
  display: flex;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
  &:focus-within {
    border-color: var(--clr-primary);
    box-shadow: 0 0 20px var(--clr-primary);
    background-color: var(--clr-neutral-100);
  }
  &:focus-within > .search-btn {
    background-color: var(--clr-primary);
  }
  &:focus-within > .search {
    background-color: var(--clr-neutral-100);
  }
}

.search {
  border: none;
  border-radius: 1em;
  background-color: var(--clr-neutral-300);
  outline: none;
  padding: 1rem;
  color: var(--clr-neutral-800);
  transition: color 0.2s;

  &-btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 1rem;
    background-color: var(--clr-neutral-500);
    border-radius: 1em 0em 0em 1em;
    transition: background-color 0.2s;
    & > i {
      font-size: 1.5rem;
      color: var(--clr-neutral-300);
    }
  }
}
