$colors: (
  neutral-100: #ffffff,
  neutral-200: #f7f7f7,
  neutral-300: #ededed,
  neutral-400: #c9c9c9,
  neutral-500: #a2a2a2,
  neutral-600: #707070,
  neutral-700: #070707,
  neutral-800: #000000,
  txt-winner: #329d24,
  txt-loser: #ff2626,
  primary: #890809
);

// #cc3232
