$font-family: Montserrat, Verdana, sans-serif;

$font-sizes: (
  fs-xs: 0.625rem,
  fs-sm: 0.75rem,
  fs-md: 1rem,
  fs-lg: 1.25rem
);

$font-weights: (
  fw-regular: 400,
  fw-medium: 500,
  fw-semi-bold: 600
);
